.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
CH2 MS/CH2References-Saved-Saved.Data/rdb/misc.MYD
CH2 MS/CH2References-Saved-Saved.Data/rdb/csort.MYD
CH2 MS/CH2References-Saved-Saved.Data/rdb/csort.MYI
CH2 MS/CH2References-Saved-Saved.Data/rdb/jterms.MYD
